{% extends "home.html" %} {% block main-section %}
<div
  class="flex flex-col text-center border border-red-200 p-4 gap-3 shadow-xl my-2"
>
  <h1 class="text-xl text-red-800 font-bold">Eliminar Producto</h1>
  <p class="text-lg">¿Desea eliminar el producto: {{producto.nombre}}?</p>
  <a
    class="px-4 rounded-md outline outline-1 rounded-xl bg-red-700 text-white py-1 my-4 font-semibold"
    href="{% url 'eliminar yes' producto.id %}"
    ><p>Confirmar</p></a
  >
  <a href="{% url 'tabla' %}" class="font-semibold"><p>Cancelar</p></a>
</div>

{% endblock main-section %}
