<button type="button" onclick="openDialog('dialog1', this)">Agregar producto</button>


  <div role="dialog" id="dialog1" aria-modal="true" class="hidden">
    <div class="dialog_form_actions">
        <button type="button" onclick="replaceDialog('dialog1', undefined, 'dialog1_close_btn')">Guardar</button>
        <button type="button" onclick="closeDialog(this)">Cerrar</button>
      </div>
    </div>  
    <h2 id="dialog1_label" class="dialog_label">Agregar producto</h2>
        <label>
          <span class="label_text">Nombre:</span>
          <input type="text" class="nombre_input">
        </label>
      </div>
      <div class="dialog_form_item">
        <label>
          <span class="label_text">Precio:</span>
          <input type="text" class="precio_input">
        </label>
      </div>
      <div class="dialog_form_item">
        <label>
          <span class="label_text">Categoria:</span>
          <input type="text" class="categoria_input">
        </label>
      </div>
      <div class="dialog_form_item">
        <label>
          <span class="label_text">Zip:</span>
          <input type="text" class="zip_input">
        </label>
        </div>
    </div>


    