{% extends "home.html" %} {% block main-section %}
<div class="flex flex-col gap-2">
  <div class="flex justify-between items-center">
    <h3>Productos</h3>
    <a href="{% url 'agregar producto' %}">
      <p class="px-3 py-1 outline outline-1 rounded-md">Añadir Producto</p></a
    >
  </div>

  <table class="table-auto outline outline-1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Reserva</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in productos %}

      <tr>
        <td>{{prod.nombre}}</td>
        <td>{{prod.precio}}</td>
        <td>{{prod.categoria}}</td>
        <td>{{prod.reserva}}</td>
        <td>
          <a href="{% url 'editar' prod.id  %}"><p>modificar</p></a>
        </td>
        <td>
          <a href="{% url 'eliminar' prod.id  %}"><p>eliminar</p></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock main-section %}
